In [1]:
from wrangle import Wrangle

In [2]:
food_log, nutrition_transposed, nutrition = Wrangle().get_food_data()

In [4]:
food_log.head(3)

,Food Description,Serving,Date,Meal,Sugar,Sodium,Fat,Protein,Calories,Carbohydrates,Water Intake (fl oz),Notes
0,Premier Protein - Chocolate Shake (Low Fat / L...,11 fl oz,4/1/2019,Breakfast,1,210,3,30,160,5,17,NaN
1,Rigatoni - Rigatoni,1 cups,4/1/2019,Lunch,1,0,4,8,240,42,17,NaN
2,Lidia's - Vodka Sauce,0.5 cup,4/1/2019,Lunch,5,220,5,2,90,7,17,NaN

In [14]:
food_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1211 entries, 0 to 1210
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Food Description      1211 non-null   object
 1   Serving               1211 non-null   object
 2   Date                  1211 non-null   object
 3   Meal                  1211 non-null   object
 4   Sugar                 1211 non-null   int64
 5   Sodium                1211 non-null   int64
 6   Fat                   1211 non-null   int64
 7   Protein               1211 non-null   int64
 8   Calories              1211 non-null   int64
 9   Carbohydrates         1211 non-null   int64
 10  Water Intake (fl oz)  1211 non-null   int64
 11  Notes                 89 non-null     object
dtypes: int64(7), object(5)
memory usage: 113.7+ KB

In [ ]:
food_log.describe()

In [7]:
nutrition_transposed.head(3)

         Date       Meal Description  Value
0  2019-04-01  Breakfast    Calories  160.0
1  2019-04-01  Breakfast         Fat    3.0
2  2019-04-01  Breakfast     Sat_Fat    1.0

In [ ]:
nutrition_transposed.info()

In [ ]:
nutrition_transposed.describe()

In [11]:
nutrition.head()

,Date,Meal,Calories,Fat,Sat_Fat,Polyunsat_Fat,Monounsat_Fat,Trans_Fat,Cholesterol,Sodium,Potassium,Carbohydrates,Fiber,Sugar,Protein,Vitamin_A,Vitamin_C,Calcium,Iron
0,4/1/2019,Breakfast,160.0,3.0,1.0,0.0,0.0,0.0,20.0,210.0,450.0,5.0,3.0,1.0,30.0,25.0,25.0,50.0,25.0
1,4/1/2019,Lunch,876.5,20.6,7.0,1.2,0.0,0.0,147.0,425.5,997.3,108.0,3.0,48.0,59.2,15.7,2.0,12.4,31.2
2,4/1/2019,Dinner,360.5,8.6,3.3,1.2,0.0,0.0,142.0,308.0,1117.3,10.5,3.0,8.5,56.1,179.7,85.0,20.4,27.2
3,4/1/2019,Snacks,275.0,11.0,2.0,0.5,0.0,0.0,0.0,230.0,0.0,33.5,4.5,13.5,12.5,0.0,0.0,1.0,7.0
4,4/2/2019,Breakfast,280.0,3.0,1.0,0.0,0.0,0.0,25.0,270.0,450.0,24.0,4.0,16.0,42.0,25.0,35.0,65.0,25.0

In [15]:
nutrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 387 entries, 0 to 386
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           387 non-null    object
 1   Meal           387 non-null    object
 2   Calories       387 non-null    float64
 3   Fat            387 non-null    float64
 4   Sat_Fat        387 non-null    float64
 5   Polyunsat_Fat  387 non-null    float64
 6   Monounsat_Fat  387 non-null    float64
 7   Trans_Fat      387 non-null    float64
 8   Cholesterol    387 non-null    float64
 9   Sodium         387 non-null    float64
 10  Potassium      387 non-null    float64
 11  Carbohydrates  387 non-null    float64
 12  Fiber          387 non-null    float64
 13  Sugar          387 non-null    float64
 14  Protein        387 non-null    float64
 15  Vitamin_A      387 non-null    float64
 16  Vitamin_C      387 non-null    float64
 17  Calcium        387 non-null    float64
 18  Iron           387 non-null    float64
dtypes: float64(17), object(2)
memory usage: 57.6+ KB

In [ ]:
nutrition.describe()